<form
      autocomplete="off"
      [formGroup]="myForm"
      (ngSubmit)="login()">

  <h2 class="text-center mb-4" style="color: white">{{ 'login.title' | translate }}</h2>
  <!-- Usuario -->
  <div class="field col-12 mb-3">
    <p-floatlabel variant="in">
      <input pInputText
             id="username"
             formControlName="login"
             class="w-full"
              />
      <label for="username"><span class="pi pi-user"></span> {{ 'login.username' | translate }}</label>
    </p-floatlabel>
  </div>

  <!-- Contraseña -->
  <div class="field col-12 mb-3">
    <p-floatlabel variant="in">
      <p-password id="password"
                  formControlName="password"
                  class="password-full"
                  [feedback]="false"
                  [toggleMask]="true">
      </p-password>
      <label for="password"><span class="pi pi-lock"></span> {{ 'login.password' | translate }}</label>
    </p-floatlabel>
  </div>

  <!-- Selección de Idioma -->
  <div class="field col-12 mb-3">
    <p-floatlabel variant="in">
      <p-select id="lang"
                formControlName="lang"
                class="w-full"
                [options]="languages"
                (onChange)="changeLanguage($event.value)">
      </p-select>
      <label for="lang"><span class="pi pi-language"></span> {{ 'login.language' | translate }}</label>
    </p-floatlabel>
  </div>

  <!-- Botón de inicio -->
  <div class="flex justify-content-center">
    <button pButton
            type="submit"
            class="p-button-rounded"
            severity="help"
            [disabled]="myForm.invalid || loading">
      <span class="pi pi-search" *ngIf="!loading"></span>
      <i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
      {{ (loading ? 'login.cargando' : 'login.button') | translate }}
    </button>
  </div>
</form>
